@-moz-document url-prefix(about:) { :root {
    --primary-background: #282C34!important;
    --secondary-background: #21252B!important;
    --primary-font-color: #D4D7DD!important;
    --highlighted-font-color: #D4D7DD!important;
    --primary-border: 1px solid #282C34!important;
    --bright-border: 1px solid #282C34!important;
    --border-color: #282C34!important;
    --bright-border-color: #282C34!important;
    --primary-icon-color: #9DA5B4!important;
    --faded-bright-border-color: rgba(142, 175, 182, .65)!important;
    --in-content-border-focus: var(--bright-border-color)!important;
    --search-box: #393E49!important;
    --primary-accent-color: #568AF2!important;
} }

@-moz-document url("about:home") {
  body {
    overflow-y: auto!important; 
  }
}

@-moz-document url("about:newtab") {
  body {
    overflow-y: auto!important;
  }
 }

@-moz-document
    url-prefix(about:addons)
{
    .main-content, #main-footer, #dialogueBox {
      background-color: var(--primary-background)!important;
      color: var(--primary-font-color)!important;
    }

    #nav-header, #categories {
      background-color: (var(--secondary-background))!important;
      border-right: var(--border-color)!important;
    }

    .category {
      color: var(--primary-font-color)!important;
    }

    .category[selected], .category.selected {
      background: var(--primary-background)!important;
      border-left: 3px solid!important;
    }

    .addon {
      border-bottom: var(--border-color)!important;
      color: var(--primary-font-color)!important;
    }

    description, label {
      color: var(--primary-font-color)!important;
    }

    button.button-link:hover {
      color: var(--primary-background)!important;
    }

    .detail-row, .detail-row-complex, setting {
      text-shadow: none!important;
    }

    :root {
      --in-content-page-background: #21252B!important;
      --in-content-text-color: #D4D7DD!important;
      --in-content-box-border-color: #282C34!important;
      --in-content-box-background: #21252B!important;
      --in-content-box-background-hover: #21252B!important;
    }

    #header-utils-btn:hover{
      background-color: var(--in-content-box-background-hover)!important;
    }

    .alert {
      background-color: var(--in-content-box-background)!important;
    }

    .addon-target-container {
      background-color: var(--in-content-box-background)!important;
      border: var(--in-content-box-border-color)!important;
    }

    .addon-target-actions {
      border-top: var(--primary-background)!important;
    }

    .message-bar {
        background-color: var(--in-content-box-background)!important;
        color: var(--in-content-text-color)!important;
    }
}

@-moz-document url(about:blank){
  * { 
    background-color: var(--primary-background); 
  }
 }
 
 @-moz-document url-prefix(about:preferences) {
   .main-content {
     background-color: var(--primary-background)!important;
     color: var(--primary-font-color)!important;
   }

   .sticky-container {
     background-color: var(--primary-background)!important;
   }

   html, h1, #categories {
     color: var(--primary-font-color)!important;
   }

   .navigation, #handersView, #engineShown, #engineName, #engineKeyword, .dialogTitleBar {
     background-color: var(--secondary-background)!important; 
     color: var(--primary-font-color)!important;
   }

   #searchInput {
     background-color: var(--search-box)!important;
     color: var(--primary-icon-color)!important;
   }

   #filter {
    background-color: var(--search-box)!important;
    color: var(--primary-icon-color)!important;
  }

  #downloadFolder {
    background-color: var(--search-box)!important;
    color: var(--primary-icon-color)!important;
  }

  #typeColumn {
    background-color: var(--search-box)!important;
    color: var(--primary-icon-color)!important;
  }

  #actionColumn {
    background-color: var(--search-box)!important;
    color: var(--primary-icon-color)!important;
  }

  #handlersView {
    background-color: var(--secondary-background)!important;
    color: var(--primary-font-color)!important;
  }

   #applicationsGroup listheader {
     background-color: var(--search-box)!important;
   }

   #contentBlockingOptionStandard, #contentBlockingOptionStrict, #contentBlockingOptionCustom {
    background-color: var(--secondary-background)!important;
    color: var(--primary-font-color)!important;
    border: 0px !important;
  }
   
   description {
     color: var(--primary-font-color)!important;
   }

   #engineChildren {
    background-color: var(--secondary-background)!important;
    color: var(--primary-font-color)!important;
  }
 }

 @-moz-document url(about:performance) {
  #dispatch-table, thead {
    background-color: var(--primary-background)!important;
    border-bottom: var(--primary-background)!important;
  }
  
  thead tr td {
    background-color: var(--primary-background)!important;
  }
  
  td {
    color: var(--primary-font-color)!important;
  }
}

@-moz-document url(about:about) {
  body {
    background-color: var(--primary-background)!important;
    color: var(--primary-font-color)!important;
  }

  h1 {
    color: var(--primary-font-color)!important;
  }

  #abouts, li a {
    color: var(--primary-accent-color)!important;
  }
}

@-moz-document url(about:buildconfig) {
  html {
    background-color: var(--primary-background)!important;
    color: var(--primary-font-color)!important;
  }

  p a {
    color: var(--primary-accent-color)!important;
  }
}

@-moz-document url("about:networking") {
  #warning_message, body {
    background-color: var(--primary-background)!important;
    color: var(--primary-font-color)!important;
  }

  .title {
    color: var(--primary-font-color)!important;
  }

  input {
    background-color: var(--secondary-background)!important;
    color: var(--primary-font-color);
  }
}

 /* Redesigned about:config page: */ 

/*
@-moz-document url(about:config) {
  html, #search-container {
    background-color: var(--primary-background)!important;
  }

  #about-config-search, #prefs {
    background-color: var(--secondary-background)!important;
    color: var(--primary-font-color)!important;
  }

  #show-all {
    color: var(--primary-font-color)!important;
  }

  input[type=text], input[type=number] {
    background-color: var(--primary-background)!important;
    color: var(--primary-font-color)!important;
  }

  #warningTitle, #warningDescription, .toggle-container-with-text label {
    color: var(--primary-font-color)!important;
  }
}
*/
